h1=title
a(href='/handcards/new') new card
table
  tr
    th keywords
    th syntax
    th example
    th priority
    th sourceURL
    th description
  if cards
    each card, index in cards
      tr
        td= card.myKeywords
        td= card.syntax
        td= card.example
        td= card.priority
        td= card.sourceURL
        td= card.description
        td
          form(action='/handcards/get/#{card.id}', method="get")
            input(type='submit' value='show') 
        td
          form(action='/handcards/edit/#{card.id}', method="get")
            input(type='submit' value='edit') 
        td  
          form(action='/handcards/delete/#{card.id}', method="post")
            input(type='submit' value='delete')