mixin code(language, snippet)
  code(class=language)= snippet
.container
  .row
    .col-12
      if snippets
        each result, index in snippets
          //=JSON.stringify(result)
          div(onclick="location.href='#{result.clickurl}'").result
            if result.type == 'snippet' || result.type == 'dbsnippet' 
              if result.info.description != ''
                p.infotext= result.info.description 
              if result.info.syntax != ''
                p.miniheader syntax
                pre.snippet
                  +code(result.language, result.info.syntax) 
              if result.info.example != ''
                p.miniheader example
                pre.snippet
                  +code(result.language, result.info.example) 
              if result.info.gsnippet != ''
                pre.snippet
                  +code(result.language, result.info.gsnippet) 
              if result.info.qnaQuestion != '' && result.info.qnaSnippet != ''
                p.miniheader question 
                p.infotext= result.info.qnaQuestion
                p.miniheader answer snippet
                pre.snippet
                  code= result.info.qnaSnippet
            else if result.type == 'normal'
              h2.title !{result.title}
              p.dispurl !{result.dispurl}
              p.abstract !{result.abstract}

        


            //p= result